@model IEnumerable<Backend.Models.Data.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>
    สินค้า
</h1>

<div class="pl-3 pb-3">
    <a class="btn btn-success text-white" asp-action="Create">เพิ่ม</a>
</div>
    

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                ประเภท
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    string url = "http://tee.kru.ac.th/cs63/s09/BigFlutter/Test/";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @if (!String.IsNullOrEmpty(item.Image))
                {
                <a asp-action="Index" asp-controller="DetailProducts" asp-route-id="@item.Id" >
                    <div class="m-auto">
                        <img src=$"{@url}{@item.Id}" alt="@url" style="width:150px; height:150px;">
                    </div>
                </a>
                   
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoryProductNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <button type="button" class="btn btn-warning">แก้ไข</button>

                </a> |
                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id">ลบ</a> |
                <a class="btn btn-info text-white" asp-controller="DetailProducts" asp-action="Create">
                    เพิ่มรายละเอียด
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
